<div class="container">
  <div class="row">
    <div class="col-sm">
      <h1 class='h1-with-margin'>New bookmark</h1>
      <%= simple_form_for [@list, @bookmark] do |f| %>
        <%= f.association :movie %>
        <%= f.input :comment %>
        <%= f.submit %>
      <% end %>
    </div>
  </div>
</div>
